* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(10, 7, 51);
    height: 100px;
    flex-direction: column;
}

header a {
    background-color: transparent;
}


body {
    background: linear-gradient(90deg,rgba(0, 4, 255) 0%, rgba(201, 137, 43) 93%, rgb(224, 146, 27) 99%);
    height: 300px;
} 

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
    gap: 20px;
    color: white;
}

h1 {
    color: whitesmoke;
}

a {
    color: #007bff;
    text-decoration: none;
    padding: 5px;
    background-color: lightgray;
    border-radius: 5px;
}

a:hover {
    text-decoration: underline;
}

header ul {
    display: flex;
    flex-direction: row;
    color: white;
    list-style-type: none;
    width: 100%;
    background-color: rgb(65, 52, 241);
    position: relative;
    top: 20px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 5px;
}
