<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='base.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <a href="{{url_for('index')}}"><h1>Compras</h1></a>
        <ul>
            <li><a href="{{url_for('login')}}">Login</a></li>
            
            {% if 'usuario' in session %}
            <li><a href="{{url_for('logout')}}">Logout</a></li>
            {% endif %}

            <li><a href="{{url_for('register')}}">Cadastro</a></li>
        </ul>
    </header>
    
    <main>
        {% block content %}

        {% endblock %}
    </main>
</body>
</html>
