{% extends 'base.html' %}

{% block content %}
<h1>Lista de Produtos</h1>
<ul>
    {% for produto in produtos %}
        <li>
            {{ produto.nome }} - R$ {{ produto.preco }}
            <a href="{{ url_for('adicionar_carrinho', produto_id=produto.id) }}">Adicionar ao Carrinho</a>
        </li>
    {% endfor %}
</ul>
<a href="{{ url_for('esvaziar_carrinho')}}">Esvaziar Carrinho</a>

{% if session['carrinho'] == [] %}
<p>Carrinho Vazio</p>
{% else %}
<p></p>
{% endif %}

<a href="{{ url_for('carrinho') }}">Ver Carrinho</a>
{% endblock %}
